* {
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: "Tilt Warp", cursive;
}

body {
  background-color: black;
}

ul,
ol {
  list-style-type: none;
}

li :hover {
  color: black;
  transition-duration: 0.6s;
  transition-delay: 0.1ms;
}
li :not(:hover) {
  transition-duration: 0.6s;
}

a {
  text-decoration: none;
}
a :hover {
  color: black;
  transition-duration: 0.6s;
  transition-delay: 0.1ms;
}
a :not(:hover) {
  transition-duration: 0.6s;
}

@media (min-width: 320px) and (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top;
    height: 120px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top;
    gap: 80px;
    height: 140px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top;
    padding: 30px;
    gap: 80px;
    height: 160px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top;
    padding: 40px;
    gap: 80px;
    height: 100px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    gap: 8px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    padding: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 16px;
    gap: 38px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    gap: 45px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    height: 10vh;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    height: 14vh;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    height: 16vh;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 40px;
    height: 180px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 140px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 160px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .footer-list i {
    font-size: 28px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .footer-list i {
    font-size: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .footer-list i {
    font-size: 46px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .footer-list i {
    font-size: 60px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  h1 {
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 16px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 8px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  h1 {
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 46px;
    font-style: italic;
    margin-bottom: 10px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  h1 {
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 46px;
    font-style: italic;
    margin-bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  h3 {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    padding: 10px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    padding: 20px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    padding: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    padding: 20px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: italic;
    padding: 20px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: italic;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-style: italic;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 18px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;
    font-size: 22px;
    font-style: italic;
    padding: 10px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .index-clips-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .index-clips-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .index-clips-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .index-clips-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .index-clips-flex-container iframe {
    width: 240px;
    height: 180px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .index-clips-flex-container iframe {
    width: 380px;
    height: 300px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .index-clips-flex-container iframe {
    width: 300px;
    height: 220px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .index-clips-flex-container iframe {
    width: 420px;
    height: 340px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .index-pics-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .index-pics-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .index-pics-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .index-pics-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .index-pics-flex-container img {
    width: 240px;
    height: 180px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .index-pics-flex-container img {
    width: 380px;
    height: 300px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .index-pics-flex-container img {
    width: 300px;
    height: 220px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .index-pics-flex-container img {
    width: 420px;
    height: 340px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .ad-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ad-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ad-title {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ad-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    padding: 10px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .ads-flex-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ads-flex-container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ads-flex-container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ads-flex-container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .ads-flex-container1 iframe {
    width: 260px;
    height: 200px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ads-flex-container1 iframe {
    width: 300px;
    height: 240px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ads-flex-container1 iframe {
    width: 440px;
    height: 360px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ads-flex-container1 iframe {
    width: 500px;
    height: 420px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .ads-flex-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ads-flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ads-flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ads-flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .ads-flex-container2 iframe {
    width: 260px;
    height: 200px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ads-flex-container2 iframe {
    width: 300px;
    height: 240px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ads-flex-container2 iframe {
    width: 440px;
    height: 360px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ads-flex-container2 iframe {
    width: 500px;
    height: 420px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .ads-text1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    font-size: 8px;
    height: 50px;
    width: 50%;
    padding: 8px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ads-text1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    height: 80px;
    width: 140px;
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ads-text1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    height: 320px;
    width: 180px;
    font-size: 16px;
    margin-right: 120px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ads-text1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    height: 340px;
    width: 200px;
    font-size: 16px;
    margin-right: 120px;
  }
}
.ads-text1 p {
  text-align: justify;
}

@media (min-width: 320px) and (max-width: 576px) {
  .ads-text2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    font-size: 8px;
    height: 50px;
    width: 50%;
    padding: 8px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .ads-text2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    height: 80px;
    width: 140px;
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .ads-text2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    height: 320px;
    width: 180px;
    font-size: 16px;
    margin-left: 120px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .ads-text2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    height: 340px;
    width: 200px;
    font-size: 16px;
    margin-left: 120px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .yt-vid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .yt-vid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .yt-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .yt-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .yt-vid iframe {
    width: 260px;
    height: 240px;
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .yt-vid iframe {
    width: 400px;
    height: 280px;
    padding: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .yt-vid iframe {
    width: 560px;
    height: 315px;
    padding: 20px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .yt-vid iframe {
    width: 620px;
    height: 440px;
    padding: 30px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .photo-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .photo-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .photo-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .photo-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .photo-flex-container img {
    width: 240px;
    height: 180px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .photo-flex-container img {
    width: 420px;
    height: 360px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .photo-flex-container img {
    width: 560px;
    height: 340px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .photo-flex-container img {
    width: 620px;
    height: 400px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .bio-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    background-image: url(../img/mobile-bio.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .bio-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
    background-image: url(../img/tablet-bio.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .bio-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-bottom: 100px;
    background-image: url(../img/desktop-bio.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .bio-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-bottom: 100px;
    background-image: url(../img/desktop-bio.jpg);
    background-position: top;
    background-size: cover;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .bio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-style: italic;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .bio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .bio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 20px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .bio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 22px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .bio-text {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 600px;
    width: 200px;
    text-align: justify;
    font-size: 12px;
    margin-left: 40px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .bio-text {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 500px;
    width: 200px;
    text-align: justify;
    font-size: 12px;
    margin-left: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .bio-text {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 600px;
    width: 250px;
    text-align: justify;
    font-size: 16px;
    margin-left: 100px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .bio-text {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 600px;
    width: 300px;
    text-align: justify;
    font-size: 18px;
    margin-left: 150px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    padding: 30px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    padding: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    padding: 30px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    padding: 30px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .form-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../img/mobile-contact.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .form-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../img/tablet-contact.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .form-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../img/desktop-contact.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .form-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../img/desktop-contact.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .form-flex-container .box-text {
    border-color: grey;
    color: black;
    font-size: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .form-flex-container .box-text {
    border-color: grey;
    color: black;
    font-size: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .form-flex-container .box-text {
    border-color: grey;
    color: black;
    font-size: 14px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .form-flex-container .box-text {
    border-color: grey;
    color: black;
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .form-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 30px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .form-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .form-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 40px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .form-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 50px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 40px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .button .button-text {
    color: black;
    font-size: 14px;
    font-style: italic;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .button .button-text {
    color: black;
    font-size: 16px;
    font-style: italic;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .button .button-text {
    color: black;
    font-size: 18px;
    font-style: italic;
  }
}
@media (min-width: 1201px) and (max-width: 2700px) {
  .button .button-text {
    color: black;
    font-size: 20px;
    font-style: italic;
  }
}

/*# sourceMappingURL=style.css.map */
