$title-shadow: 3px 3px 1px red, 5px 5px 2px yellow, 8px 8px 3px blue;

$bckgr-header-footer: url(../img/header-background.jpg);

$bckgr-bio-mobile: url(../img/mobile-bio.jpg);

$bckgr-bio-tablet: url(../img/tablet-bio.jpg);

$bckgr-bio-desktop: url(../img/desktop-bio.jpg);

$bckgr-contact-mobile: url(../img/mobile-contact.jpg);

$bckgr-contact-tablet: url(../img/tablet-contact.jpg);

$bckgr-contact-desktop: url(../img/desktop-contact.jpg);